.profile{
    width: 30%;
}
.wishlist{
    width: 70%;
    height: 570px;
    overflow: auto;
    position: relative;
    top:90px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 15px;
    .product {
        margin-top: 15px;
        border-bottom: 1px solid grey;
       
        .image {
            width: 25%;
            img{
                border-radius: 5px;
                border: 1px solid grey;
            }
            .quantity{
                margin-left: 25px;
                margin-top: 8px;
            }
        }
    
        .details {
            width: 50%;
            h2{
                margin-left: -10px;
                
            }
            .icon{
                margin-left: -10px;
                margin-top: -10px;
                i{
                    color: goldenrod;
                }
            }
            
    
            .cost {
                margin-top: -8px;
                font-size: 14px;
            }
        }
        .extra{
            width: 25%;
        }
    }
    .product:last-child{
      border: none;
    }

    // border: 1px solid blue;
    .image {
        width: 35%;

        img {
            // border-bottom-left-radius: 5px;
            // border-top-left-radius: 5px;
        }

    }

    .features {
        width: 35%;
    }

    .pricing {
        width: 30%;

        .off {
            margin-top: -10px;
            margin-left: 1.5rem;
        }
    }
}