<div class="outer">
    <div class="hello d-flex my-2 p-2">
        <div class="left">
            <img src="../../../assets/OIP.jpg" alt="" height="50px" width="50px">
        </div>
        <div class="right">
            <p>Hello,</p>
            <p class="mn">Ayan Nandy</p>
        </div>
    </div>
  
</div>
<div class="outer">
    <div class="hello my-2 p-2">
        <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
           </mat-list>
    </div>
  
</div>
