<!-- <app-header></app-header> -->
<div class="outer">
    <div class="hello d-flex my-2 p-2">
        <div class="left">
            <img src="../../../assets/OIP.jpg" alt="" height="50px" width="50px">
        </div>
        <div class="right">
            <p>Hello,</p>
            <p class="mn fw-bolder"><span>{{user.firstName}} </span><span>{{user.lastName}}</span></p>
        </div>
    </div>
  
</div>
<div class="outer">
    <div class="hello my-2 p-2">
        <mat-list>
            <mat-list-item (click)="profile()"><i class="fa fa-user" aria-hidden="true"></i>  Profile </mat-list-item>
            <mat-list-item (click)="address()"><i class="fa fa-home" aria-hidden="true"></i> Address </mat-list-item>
            <mat-list-item (click)="gotoOrder()"><i class="fa fa-shopping-bag" aria-hidden="true"></i> My Order</mat-list-item>
            <mat-list-item (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i> Log Out </mat-list-item>
           </mat-list>
    </div>
  
</div>
