<div class="outer">
    <div class="hello d-flex my-2 p-2">
        <div class="left">
            <img src="../../../assets/OIP.jpg" alt="" height="50px" width="50px">
        </div>
        <div class="right">
            <p>Hello,</p>
            <p class="mn"><span>{{user.firstName}} </span><span>{{user.lastName}}</span></p>
        </div>
    </div>
  
</div>
<div class="outer">
    <div class="hello my-2 p-2">
        <mat-list>
            <mat-list-item (click)="profile()"> Profile </mat-list-item>
            <mat-list-item (click)="address()">Address </mat-list-item>
            <mat-list-item> Dummy</mat-list-item>
            <mat-list-item (click)="logout()"> Log Out </mat-list-item>
           </mat-list>
    </div>
  
</div>
