.outer {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    top: 85px;
}

.hello {
    background-color: #fff;
    // border: 1px solid grey;
    width: 80%;
    margin: auto;

    .left {
        width: 30%;

        img {
            border-radius: 50%;
        }

    }

    .right {
        width: 50%;

        .mn {
            margin-top: -10px;
        }
    }
    mat-list-item{
        border-bottom: 1px solid grey;
        cursor: pointer;
    }
    
}