.profile {
    width: 30%;
}

.wishlist {
    width: 70%;
    background-color: #fff;
    position: relative;
    top:90px;
    margin-left: 20px;
    form{
        width: 95%;
        margin: auto;
    }




}