.body{
    background-color: #f0f0f0;
    width: 100%;
    position: relative;
    top: 82px;
}
.w-80{
    width: 70%;
}
.w-20{
    width: 30%;
}
.card-item {
    background-color: #fff;
    width: 70%;
    height: 770px;
    overflow: auto;
}
.address{

}

.price {
    background-color: #fff;
    width: 30%;
    margin-left: 20px;
    border-radius: 5px;
}
.offer{
    background-color: #fff;
    width: 100%;
    // margin-left: 20px;
    border-radius: 5px;
}

.bd {
    border: 1px solid grey;
}
.bb{
    border-bottom: 1px solid grey;
}
 i
 {
   color: #2759AE;
   cursor: pointer;
}

.product {
    margin-top: 15px;
    border-bottom: 1px solid grey;
   
    .image {
        width: 25%;
        img{
            border-radius: 5px;
            border: 1px solid grey;
        }
        .quantity{
            margin-left: 25px;
            margin-top: 8px;
        }
    }

    .details {
        width: 50%;
        h2{
            margin-left: -10px;
            
        }
        .icon{
            margin-left: -10px;
            margin-top: -10px;
            i{
                color: goldenrod;
            }
        }
        

        .cost {
            margin-top: -8px;
            font-size: 14px;
        }
    }
    .extra{
        width: 25%;
    }
}
.product:last-child{
  border: none;
}
.btns{
    width: 90%;
}
.login{
    // border: 1px solid grey;
    width: 40%;
    margin: auto;
}