<mat-toolbar class="d-flex" *ngIf="showAdminSideNav"> 
    <div class="w-80">

    </div>
    <div class="w-20">
     <button class="btn btn-primary m-auto" style="margin-left:200px;" (click)="logout()">
        Logout
     </button>
    </div>
  </mat-toolbar>
  <!-- <mat-toolbar class="d-flex" *ngIf="!showAdminSideNav"> 
    <div class="w-80">

    </div>
    <div class="w-20">
     <button class="btn btn-primary m-auto" (click)="openAddEditForm()" style="margin-left:200px;">
        Sign In/Sign Up
     </button>
    </div>
  </mat-toolbar> -->
<div *ngIf="!showAdminSideNav" > 
  <app-header></app-header>
 </div>
 
<app-sidenav (onToggleSideNav)="onToggleSideNav($event)" ></app-sidenav>
<app-body [collapsed]="isSideNavClosed" 
[screenWidth]="screenWidth"></app-body>
<!-- <div *ngIf="!showAdminSideNav">
    <app-footer></app-footer>
</div> -->

