.bd{
    background-color: #f0f0f0;
}
.profile {
    width: 30%;
    
}

.wishlist {
    width: 70%;
    background-color: #ffff;
    border-radius: 5px;
    position: relative;
    top: 92px;

    .card {
        width: 98%;
        margin: auto;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


}